.accordion {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;

  &__item {
    padding: 1.5rem 2rem;
    border: 1px solid var(--text-secondary);
    box-sizing: border-box;
    border-radius: 8px;
  }

  &__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-primary);
    font-family: 'Inter', sans-serif;
    cursor: pointer;
  }

  &__trigger-icon {
    width: 18px;
    height: 10px;
    background-image: url('../../../assets/images/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.1s linear;
  }

  &__item[open] &__trigger-icon {
    background-image: url('../../../assets/images/arrow-up.svg');
  }

  &__content {
    color: var(--inner-text-color-primary);
    font-family: 'Inter', sans-serif;
    padding: 1rem 0 0.5rem;
  }

  &__trigger::-webkit-details-marker,
  &__trigger::marker {
    display: none;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &_preview {
    pointer-events: none;
  }
}
