$color: #acb5bd;

.radio {
  display: inline-flex;

  &__input {
    position: absolute;
    outline: none;
    width: 0;
    height: 0;
  }

  &__state {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }

  &__icon {
    color: var(--main-bg);
    width: 18px;
    height: 18px;
  }

  &__control {
    width: 28px;
    height: 28px;
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--inner-text-color-primary);
  }

  &__input:checked ~ &__state &__control {
    border-color: var(--primary);
  }

  &__input:checked ~ &__state &__icon {
    color: var(--primary);
    animation: pulse-radio 0.5s;
  }

  &_disabled {
    pointer-events: none;
  }

  &__input:disabled ~ &__state &__icon {
    color: var(--inner-text-color-secondary);
  }

  &__input:disabled ~ &__state &__control {
    pointer-events: none;
    color: var(--inner-text-color-secondary);
    background-color: var(--inner-text-color-secondary);
    border-color: var(--inner-text-color-secondary);
  }

  &__input:disabled ~ &__state &__title {
    color: var(--inner-text-color-secondary);
  }

  input[type='radio'] {
    -webkit-appearance: none;
  }
}

.radio-group {
  height: 100%;
  display: grid;
  gap: 48px;
}

@keyframes pulse-radio {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($color, 0.7);
    border-radius: 50%;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba($color, 0);
    border-radius: 50%;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba($color, 0);
    border-radius: 50%;
  }
}
