.modal {
  /* overlay */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(#acb5bd, 0.5);
  display: flex; //display: none  - for script
  align-items: center;
  justify-content: center;

  /* modal width and paddings */
  &__popup {
    position: relative;
    width: 360px;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);

    @media (min-width: 768px) {
      width: 500px;
    }

    @media (min-width: 1024px) {
      width: 720px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-secondary);
    padding: 1rem;
  }

  &__body {
    color: var(--inner-text-color-primary);
    font-family: 'Inter', serif;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 2rem;

    *:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__close {
    height: 1.5rem;
    width: 1.5rem;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    button:not(:last-child) {
      margin-right: 8px;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: var(--grey-2);
  }

  &_preview {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &_preview &__popup {
    width: calc(100% - 80px);
    max-width: 250px;
  }

  &_preview &__body {
    font-size: 10px;
    line-height: 16px;
  }

  &_preview &__title {
    font-size: 0.8rem;
  }

  &_preview &__close {
    height: 0.8rem;
    width: 0.8rem;
  }

  &_preview &__body {
    padding: 10px;
  }
}
