.calendar {
  border-radius: 8px;
  border: 1px solid var(--text-secondary);
  width: 100%;
  padding: 0.5rem 1rem;

  &__title {
    text-align: center;
    font-family: 'Inter', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    color: var(--inner-text-color-primary);
    margin-bottom: 24px;
  }

  &__wrapper {
    padding-bottom: 100%; /*square*/
    position: relative;
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0;
    color: var(--inner-text-color-primary);

    &_day {
      font-family: 'Inter', serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: var(--text-secondary);
      margin-bottom: 8px;
    }
  }

  &__item_first-day {
    grid-column: 5;
  }

  &__item_period-border {
    background-color: var(--secondary-dark);
    color: var(--main-bg);
  }

  &__item_period-inner {
    background-color: var(--secondary);
    color: var(--main-bg);
  }

  &_preview {
    width: 150px;
  }

  &_preview &__item {
    font-size: 12px;
  }

  &_preview &__item_day {
    font-size: 10px;
  }

  &_preview &__title {
    font-size: 14px;
    margin-bottom: 12px;
  }
}
