.component {
  font-family: 'Inter', sans-serif;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: auto 1fr;
  }

  &__menu {
    width: 229px;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &__content {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
  }

  &__content-title {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 2rem;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  &__code-content {
    & pre {
      overflow-x: auto;
      overflow-y: hidden;
      padding: 2rem;

      code {
        font-family: monospace;
      }
    }
  }
}

.menu {
  font-family: 'Inter', sans-serif;

  a {
    line-height: 3rem;
    display: block;
    font-size: 1.5rem;

    @media (min-width: 768px) {
      font-size: 1rem;
      line-height: 2rem;
    }
  }

  & &__title {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--grey-4);

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
  }

  &__navlink_active {
    color: var(--pink);
  }
}
