.header {
  background-color: var(--grey-bg);
  padding: 24px 0;

  &_main {
    background-color: var(--main-bg);
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: var(--text-primary);

    @media (min-width: 768px) {
      font-size: 3rem;
      font-weight: 500;
    }
  }

  &__navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      justify-content: space-between;
      margin-bottom: 3rem;
    }
  }

  &__logo {
    color: var(--text-primary);

    @media (min-width: 768px) {
      font-size: 3rem;
      font-weight: 500;
    }
  }

  &__logo-icon {
    width: 30px;
    height: 30px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}
