.tabs {
  display: flex;
  list-style: none;
  padding: 0;

  &__button {
    position: relative;
    padding: 12px 24px;
    white-space: nowrap;
    color: var(--grey-3);
    text-transform: uppercase;

    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 5px;
      width: 100%;
      background: var(--text-primary);
      content: '';
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &_active::after {
      transform: scaleX(1);
    }
  }
}
