.skeleton {
  width: 100%;
  border: 1px solid var(--grey-3);
  border-radius: 8px;
  padding: 1.5rem 2rem;
  box-sizing: border-box;

  &__header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 1.5rem;
  }

  &__circle {
    height: 4rem;
    width: 4rem;
    background-color: var(--grey-2);
    border-radius: 50%;
    display: inline-block;
    background: linear-gradient(-45deg, var(--grey-1), var(--grey-2), var(--grey-3));
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;
  }

  &__rectangle {
    height: 1.2rem;
    background: linear-gradient(-45deg, var(--grey-1), var(--grey-2), var(--grey-3));
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
  }

  &__rectangle_width-half {
    width: 50%;
  }

  &__rectangle_width-third {
    width: 33%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
