@import 'assets/css/reset.css';
@import 'assets/fonts/fonts.css';

body {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
