.card {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 #2124290d;
  background-color: var(--main-bg);
  gap: 1.5rem;

  @media (min-width: 768px) {
    height: 357px;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    pointer-events: none;
  }

  &__footer {
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-primary);
  }
}

.cards {
  padding: 48px 0;
}
